<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommender</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    {% block styles %} {% endblock %}
</head>

<body>
    <header>
        <nav>
            <section id="nav-container">
                <section id="nav-left">
                    <a href="/" id="home-icon">
                        <i class="fa-solid fa-house"></i>
                    </a>
                    <section id="nav-logo">
                        <a href="{{ url_for('index') }}">Movie Recommender</a>
                    </section>
                </section>

                <section id="nav-search">
                    <form action="{{ url_for('search') }}" method="GET">
                        <input type="text" name="query" placeholder="Search movies..." required>

                        <select name="filter">
                            <option value="all">All</option>
                            <option value="genre">Genre</option>
                            <option value="score">Score</option>
                            <option value="year">Year</option>
                            <option value="highest_reviewed">Highest Reviewed</option>
                        </select>

                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </section>

                <section id="nav-links">
                    <ul>
                        <li><a href="{{ url_for('random_movie') }}">Random Movie</a></li>
                        <li><a href="{{ url_for('genre_search') }}">Search by Genre</a></li>
                        <li><a href="{{ url_for('score_search') }}">Search by Score</a></li>
                        <li><a href="{{ url_for('year_search') }}">Search by Year</a></li>
                        <li>
                            <a href="{{ url_for('cart') }}">
                                <i class="fa-solid fa-bookmark"></i> Watchlist
                            </a>
                        </li>
                    </ul>
                </section>

                <!-- <section id="nav-user">
                    {% if session['user_id'] %}
                    <section id="user-info">
                        <p id="username">{{ session['user_id'] }}</p>
                        <i class="fas fa-user-circle" id="user-icon"></i>
                    </section>
                    <a href="{{ url_for('logout') }}" id="logout-btn">Logout</a>
                    {% else %}
                    <a href="{{ url_for('login') }}" id="login-btn">Login</a>
                    <a href="{{ url_for('registration') }}" id="register-btn">Register</a>
                    {% endif %}
                </section> -->

                <section id="nav-user">
                    {% if session['user_id'] %}
                    <section id="user-info">
                        <p id="username">{{ session['user_id'] }}</p>
                        <i class="fas fa-user-circle" id="user-icon"></i>
                        <!-- Dropdown Menu -->
                        <section id="dropdown-menu">
                            <ul>
                                <li><a href="{{ url_for('user') }}">Edit Profile</a></li>
                                {% if g.is_admin %}
                                <li><a href="{{ url_for('admin_dashboard') }}">Admin Dashboard</a></li>
                                {% endif %}
                            </ul>
                        </section>
                    </section>
                    <a href="{{ url_for('logout') }}" id="logout-btn">Logout</a>
                    {% else %}
                    <a href="{{ url_for('login') }}" id="login-btn">Login</a>
                    <a href="{{ url_for('registration') }}" id="register-btn">Register</a>
                    {% endif %}
                </section>


            </section>
        </nav>
    </header>

    <main>
        
        {% block main_content %}{% endblock %}
    </main>

    <footer class="footer">
        <section class="footer-container">
            <section class="footer-logo">
                <h2>Movie DNA</h2>
                <!-- https://unsplash.com/photos/grayscale-photo-of-camera-on-table-CTTJHNwbtPg -->
                <img src="static/images/movieLogo.jpg" alt="Image Of Movie Logo" />
            </section>

            <section class="footer-links">
                <h3>Pages</h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/random">Random</a></li>
                    <li><a href="/genre">Genre</a></li>
                    <li><a href="/score">Score</a></li>
                    <li><a href="/year">Year</a></li>
                    <li><a href="{{ url_for('cart') }}">Watchlist</a></li>
                </ul>
            </section>

            <section class="footer-contact">
                <h3>Contact Me</h3>
                <p>Email: <a href="mailto:124403762@umail.ucc.ie">124403762@umail.ucc.ie</a></p>
            </section>

            <section class="footer-bottom">
                <p>&copy; Web Dev 2 (Jordan Buckley).</p>

                <section class="social-icons">
                    <a aria-label="Instagram" href="https://www.instagram.com/jordanbuckley_20/" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a aria-label="GitHub" href="https://github.com/JordanBuckleyGit" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                    <a aria-label="LinkedIn" href="https://www.linkedin.com/in/jordan05/" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </section>
            </section>
    </footer>

</body>

</html>