{% extends "base.html" %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='adminDash.css') }}">
{% endblock %}
{% block main_content %}
<h1>Manage Reviews</h1>
<table>
    <thead>
        <tr>
            <th>Movie Title</th>
            <th>User</th>
            <th>Review Text</th>
            <th>Rating</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for review in reviews %}
            <tr>
                <td>{{ review.title }}</td>
                <td>{{ review.user }}</td>
                <td>{{ review.review_text }}</td>
                <td>{{ review.rating }}</td>
                <td>
                    <a href="{{ url_for('delete_review', review_id=review.id) }}" class="delete-button">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('admin_dashboard') }}" class="back-button">Back to Dashboard</a>
{% endblock %}