{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='random.css') }}">
{% endblock %}
{% block main_content %}
    <h1>Random Movie Recommendation</h1>
    {% if movie %}
        <section id="movie-container">
            <section id="movie-card">
                <h2>{{ movie.title }} ({{ movie.year }})</h2>
                <img src="static/images/jordan_buckley.jpg" alt="Jordan Buckley" />
                <p><strong>Genre:</strong> {{ movie.genre }}</p>
                <p><strong>Score:</strong> ⭐ {{ movie.score }}/10</p>
                <p><strong>Director:</strong> {{ movie.director }}</p>
                <p>{{ movie.description }}</p>
                <p>Add to watchlist</p><p>Next</p>
            </section>
        </section>
    {% else %}
        <p>No movies found.</p>
    {% endif %}

    <!-- {% include "reviews.html" %} -->


    <a href="{{ url_for('index') }}" class="back-button">Back to Home</a>
{% endblock %}
